body {
	min-width: 1600;
	margin: 0;
	padding: 0;
	font-family: Open Sans, sans-serif;
}

.wrapper {
	max-width: 1600px;
	margin: auto;
}

nav {
	display: block;
	background-color: #c8b485;
	height: 60px;
}

nav a {
	text-decoration: none;
	color: #443b25;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
	line-height: 60px;
}

.menu ul li {
	float: left;
	border-right: 1px solid #bba87b;
}

.menu ul li a {
	height: 60px;
	text-align: center;
	display: block;
	padding: 0 30px 0 33px;
}

.menu ul li:first-child {
	height: 60px;
}

.active {
	background-color: #d2c29b;
	font-weight: bold;
}

.menu ul li img {
	position: relative;
	top:  4px;
	left: -5px;
}

.menu ul li:first-child img {
	position: static;
}

.menu ul li:first-child:hover {
	background-color: #d2c29b;
}

.menu ul li:first-child:hover > ul {
	display: block;
}



.menu ul li ul {
	width: 70px;
	border: none;
	position: relative;
	top: -25px;
	display: none;
}

.menu ul li ul li {
	height: 50px !important;
	border: none;
	background-color: #c8b485;
	border-bottom: 1px solid #bba87b;
}

.menu ul li ul li:last-child {
	border: none;
}

.menu ul li ul li a {
	line-height: normal;!important;
	height: 20px;
	padding: 15px 30px 15px 30px;
}

.menu ul li ul li:hover {
	background-color: #d2c29b;
}

.socials {
	height: 60px;
}

.socials p {
	display: inline-block;
	float: right;
	padding: 0;
	line-height: 60px;
	margin: 0;
}


.soc_icons {
	margin-left: 10px;
	margin-right: 20px;
	box-sizing: border-box;
	padding-top: 13px;
	float:right;
	height: 60px;
}

.soc_icons img {
	margin-left: 15px;
}

.header-img img {
	width: 100%;
	height: auto;
}

.main-frame {
	width: 940px;
	margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.exp_img_cont > img {
	width: 100%;
	height: auto;
}

h3 {
	font-size: 16px;
	margin-top: 45px;
	color: #3d2723;
}

.overview_text {
	float: right;
	width: 570px;
}

.exp_img_cont {
	margin-top: 40px;
	float: left;
	width: 350px;
}

.info_txt {
	margin: 0;
	padding: 0;
}

.info_txt p {
	margin-bottom: 0;
}

.hider {
	display: none;
}

.hidden {
	display: none;
	margin: 0;
	padding: 0;
}

.hidden p {
	margin-bottom: 0px;
}

.hider_but {
	display: block;
	margin-left: 50%;
	margin-right: 50%;
}

.hider_but:hover {
	cursor: pointer;
}

.slider_box {
	padding-top: 25px;
	border: 1px solid #e4e3d2;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 938px;
	background-color: #f5f4e2;
	padding-bottom: 15px;
}

.slide_item {
	font-size: 20px;
	color: #3d380a;
	font-weight: bold;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
	text-align: center;
	width: 940px;
	border-top: 3px dashed #e4e3cf;
	border-bottom: 3px dashed #e4e3cf;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	left: -1px;
}

.slide-holder.is-active .slider_item_hider {
	display: none;
}

.slide-holder.is-active .slider_item_shower {
	display: block;
}

.slide-holder.is-active .shadow {
	display: block;
}

.slide-holder.is-active .slide_cont {
	display: block;
}

.slide_item p {
	top: 4px;
	margin: 0;
}

.slide_item:before {
	content: " ";
	display: block;
	width: 940px;
	height: 4px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: -7px;
}

.slide_item:after {
	content: " ";
	display: block;
	width: 940px;
	height: 4px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: 15px;
}

.slide_cont {
	display: none;
	box-sizing: border-box;
	width: 938px;
	padding: 30px 50px 0px 50px;
}

.shadow {
	display: none;
}

.shadow.shadow_3 {
	display: block;
}

.shadow:after {
	margin: auto;
	width: 915px;
	height: 15px;
	position: relative;
	z-index: 0;
	display: block;
	content: "";
	border-radius: 100%;
	top: -15px;
	box-shadow: 0 5px 1px 10px rgba(0,0,0,.1);
}

.col-1 {
	width: 340px;
	float: left;
}

.col-2 {
	width: 100px;
	float: left;
}

.col-3 {
	width: 340px;
	float: right;
}

.col_item {
}

.map_frame {
	display: none;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.09);
	margin-bottom: 30px;
}

.col_item_info {
	background-color: white;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.09);
	border: 1px solid #e4e3d2;
	border-radius: 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

.col_item_info>img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.col_item_info > p {
	font-size: 14px;
	color: #3d380a;
	margin: 0;
	padding: 17px 20px 20px 20px;
}

.col_item_but {
	color: #ec4b36;
	position: relative;
	z-index: 1;
	border-top: 2px dashed #e4e3d0;
	border-bottom: 2px dashed #e4e3d0;
	height: 27px;
	width: 338px;
	display: table-cell;
	vertical-align: middle;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
}

.col_item_but>img {
	float: left;
	margin-left: 18px;
	margin-right: 8px;
}

.col_item_but p {
	margin: 0;
	display: inline-block;
	padding: 0;
}

.col_item_but p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.col_item_but:before {
	content: " ";
	display: block;
	width: 338px;
	height: 6px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: -7px;
}

.col_item_but:after {
	content: " ";
	display: block;
	width: 338px;
	height: 6px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: 7px;
}

.shadow_col_item:after {
	margin: auto;
	width: 330px;
	height: 2px;
	position: relative;
	z-index: 0;
	display: block;
	content: "";
	border-radius: 100%;
	top: -16px;
	box-shadow: 0 20px 1px 2px rgba(0,0,0,.09);
}

.col-2 img {
	margin-top: 140px;
	margin-left: 20px;
}

.slide_item img {
	background-color: white;
	border: 2px solid yellow;
	border-radius: 100%;
}

.slide_item p {
	display: inline-block;
	position: relative;
	left: 14px;

}

.slider_shower {
	float: right;
	position: relative;
	left: -60px;
	top: 10px;
}

.slider_item_hider {
	display: block;
}

.slider_item_shower {
	display: none;
}

.slider_hider {
	float: right;
	position: relative;
	left: -60px;
	top: 1px;
}

.slider_hider:hover {
	cursor: pointer;
}

.underslide {
	text-align: center;
	width: 420px;
	margin: 0 auto 105px auto;
	color: #3d380a;
}

.underslide img {
	margin: 5px 110px 0px 110px;
}

.underslide h4 {
	margin: 10px 0 15px 0;
	color: #3d380a;
	font-size: 20px;
}

.underslide p {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 60px 0 60px;
	margin: 0 0 30px 0;
	font-size: 14px;
}

.contest_but {
	float: left;
	background-color: #ffdf06;
	border-radius: 5px;
	margin: 0px 0px 0px 15px;
	box-shadow: 0 2px 0px 0px #dfc40a;
}

.contest_but a {
	display: block;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	color: #3d380a;
}

.underslide_link:visited {
	color: #3d380a;
}

.underslide_link:link {
	color: #3d380a;
}

.underslide_link:active {
	color: #3d380a;
}

.learn_more {
	display: block;
	float: left;
	margin-left: 25px;
	padding-top: 20px;
	font-size: 12px;
}

.learn_more:visited {
	color: #3d380a;
}

footer {
	height: 100px;
	background-color: #453c25;
}

.bot_menu {
	margin-left: 140px;
	float: left;
	height: 100px;
}

.bot_menu ul {
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
}

.bot_menu ul li {
	display: inline-block;
	height: 60px;
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.bot_menu ul li a {
	text-decoration: none;
	font-size: 15px;
}

.bot_menu ul li a:visited {
	color: white;
}

.what_is_this {
	float: left;
	margin: 35px 0px 0px 400px;
}

.bot_socials {
	float: right;
	height: 80px;
	width: 150px;
	margin-right: 140px;
	padding-top: 20px;
}

.bot_socials p {
	display: inline-block;
	margin: 0;
	float: right;
	color: #766844;
	font-size: 14px;
}

.bot_soc_icons {
	float: right;
	clear: left;
	margin-bottom: 10px;
}
