body {
	min-width: 1600;
	margin: 0;
	padding: 0;
	font-family: Open Sans, sans-serif;
}

.wrapper {
	max-width: 1600px;
	margin: auto;
}

nav {
	display: block;
	background-color: #c8b485;
	height: 60px;
}

nav a {
	text-decoration: none;
	color: #443b25;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
	line-height: 60px;
}

.menu ul li {
	float: left;
	border-right: 1px solid #bba87b;
}

.menu ul li a {
	height: 60px;
	text-align: center;
	display: block;
	padding: 0 30px 0 33px;
}

.menu ul li:first-child a {
	padding: 0;
}

.active {
	background-color: #d2c29b;
	font-weight: bold;
}

.menu ul li img {
	position: relative;
	top:  4px;
	left: -5px;
}

.menu ul li:first-child img {
	position: static;
}

.socials {
	height: 60px;
}

.socials p {
	display: inline-block;
	float: right;
	padding: 0;
	line-height: 60px;
	margin: 0;
}


.soc_icons {
	margin-left: 10px;
	margin-right: 20px;
	box-sizing: border-box;
	padding-top: 13px;
	float:right;
	height: 60px;
}

.soc_icons img {
	margin-left: 15px;
}

.header-img img {
	width: 100%;
	height: auto;
}

.main-frame {
	width: 940px;
	margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.exp_img_cont > img {
	width: 100%;
	height: auto;
}

.overview_text {
	float: right;
	width: 570px;
}

.exp_img_cont {
	float: left;
	width: 350px;
}

.info_txt {
	margin: 0;
	padding: 0;
}

.hider {
	display: none;
}

.hidden {
	display: none;
	margin: 0;
	padding: 0;
}

.hider_but {
	display: block;
	margin-left: 50%;
	margin-right: 50%;
}

.slider_box {
	padding-top: 20px;
	border: 1px solid #e4e3d2;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 938px;
	height: 600px;
	background-color: #f5f4e2;
}

.slide_item {
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	text-align: center;
	width: 940px;
	height: 50px;
	border-top: 2px dashed #edece8;
	border-bottom: 2px dashed #edece8;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	left: -1px;
}

.slide_item:before {
	content: " ";
	display: block;
	width: 940px;
	height: 4px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: -17px;
}

.slide_item:after {
	content: " ";
	display: block;
	width: 940px;
	height: 4px;
	background: linear-gradient(to right, #ffffff, #f5f4e2);
	position: relative;
	top: 17px;
}

.slide_cont_1 {
	width: 938px;
	height: 300px;
}

.shadow:after {
	margin: auto;
	width: 915px;
	height: 15px;
	position: relative;
	z-index: 0;
	display: block;
	content: "";
	border-radius: 100%;
	top: -15px;
	box-shadow: 0 5px 1px 10px rgba(0,0,0,.1);
}

.col-1 {
	width: 340px;
}

.col-2 {
	width: 100px;
}

.col-3 {
	width: 340px;
}

