body {
	min-width: 1600;
	margin: 0;
	padding: 0;
	font-family: Open Sans, sans-serif;
}

.wrapper {
	max-width: 1600px;
	margin: auto;
}

nav {
	display: block;
	background-color: #c8b485;
	height: 60px;
}

nav a {
	text-decoration: none;
	color: #443b25;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
	line-height: 60px;
}

.menu ul li {
	float: left;
	border-right: 1px solid #bba87b;
}

.menu ul li a {
	height: 60px;
	text-align: center;
	display: block;
	padding: 0 30px 0 33px;
}

.menu ul li:first-child a {
	padding: 0;
}

.active {
	background-color: #d2c29b;
	font-weight: bold;
}

.menu ul li img {
	position: relative;
	top:  4px;
	left: -5px;
}

.menu ul li:first-child img {
	position: static;
}

.socials {
	height: 60px;
}

.socials p {
	display: inline-block;
	float: right;
	padding: 0;
	line-height: 60px;
	margin: 0;
}


.soc_icons {
	margin-left: 10px;
	margin-right: 20px;
	box-sizing: border-box;
	padding-top: 13px;
	float:right;
	height: 60px;
}

.soc_icons img {
	margin-left: 15px;
}

.header-img img {
	width: 100%;
	height: auto;
}

.main-frame {
	width: 940px;
	margin: auto;
}

.exp_img_cont > img {
	width: 100%;
	height: auto;
}

.overview_text {
	float: right;
	width: 570px;
}

.exp_img_cont {
	float: left;
	width: 350px;
}

.info_txt {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
	margin: 0;
	padding: 0;
}

.hider_but a {
	display: block;
	margin-left: 50%;
	margin-right: 50%;

	